/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* App.css */

/* CSS pour fixer ButtonAppBar et SelectedListItem */

.AppBar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Assurez-vous que l'AppBar est au-dessus du contenu */
}

.SelectedListItem-container {
  position: fixed;
  top: 60px; /* Ajustez selon la hauteur de votre AppBar */
  left: 0;
  width: 250px; /* Ajustez la largeur de la liste selon vos besoins */
  height: 100%;
  z-index: 5; /* Assurez-vous que la liste soit derrière l'AppBar */
  overflow-y: auto;
}

.content-container {
  margin-left: 0px; /* Laisser de l'espace pour la SelectedListItem */
  margin-top: 0px; /* Laisser de l'espace pour l'AppBar */
  padding: 20px;
  width: calc(100% - 250px); /* Ajuster la largeur pour ne pas chevaucher la liste */
  overflow-y: auto;
  background-color: #f8f8f8;
}
